<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background"
	id="header2-6" data-rv-view="0"
	style="background-image:url(images/backimg2.jpg);background-repeat: no-repeat;">

<div id="main"
	style="width: 50%; margin-left: auto; margin-right: auto;margin-top:250px;">
	<div ng-show="currentUser.role=='ADMIN'">
		<h2 style="font-family: cursive;color:blue;">List Of Blogs waiting for approval</h2>
		<div ng-if="blogsWaitingForApproval.length==0">No blogposts
			available</div>
		<table ng-show="blogsWaitingForApproval.length>0" class="table">

			<tr >
				<th>Blog Title</th>
				<th>Author</th>
				<th>Posted On</th>
			</tr>

			<tr ng-repeat="blogPost in blogsWaitingForApproval">
				<td><a href="#/admin/getblog/{{blogPost.id}}" style="color:red;">{{blogPost.blogTitle}}</a></td>
				<td><img src="http://localhost:8082/middleware/getimage/{{blogPost.postedBy.username}}" alt="Image not available" style="width:50px;height:50px; border-radius: 50%;"/>  {{blogPost.postedBy.firstname}}&nbsp;{{blogPost.postedBy.lastname}}</td>
				<td>{{blogPost.postedOn | date : 'yyyy:MM:dd'}}</td>
			</tr>

		</table>
	</div>
	<div>
		<h2 style="font-family: cursive;color:blue;">List of blogs approved</h2>
		<div ng-if="blogsApproved.length==0">No Approved blogposts
			available</div>
		<table ng-show="blogsApproved.length>0" class="table">
			
				<tr>
					<th>Blog Title</th>
					<th>Author</th>
					<th>Posted On</th>
				</tr>

				<tr ng-repeat="blogPost in blogsApproved | orderBy: '-postedOn'">
					<td><a href="#/getblog/{{blogPost.id}}" style="color:green;">{{blogPost.blogTitle}}</a></td>
					<td><img src="http://localhost:8082/middleware/getimage/{{blogPost.postedBy.username}}" alt="Image not available" style="width:50px;height:50px; border-radius: 50%;"/>{{blogPost.postedBy.username}}</td>
					<td>{{blogPost.postedOn | date : 'medium'}}</td>
				</tr>
			
		</table>
	</div>
</div>
</section>
