<div id="main"
	style="width: 40%; margin-left: auto; margin-right: auto;">

	<form>
		<h3 align="center">ADD JOB</h3>
		<label class="labelst">Company Name :</label> <input
			class="form-control" type="text" ng-model="job.companyname"><br>
		<label class="labelst">Job Title :</label> <input class="form-control"
			type="text" ng-model="job.jobTitle"> <br><label class="labelst">Job
			Description :</label> <input class="form-control" type="text"
			ng-model="job.jobDescription"> <br><label class="labelst">Skills
			Required :</label> <input class="form-control" type="text"
			ng-model="job.skillsRequired"> <br><label class="labelst">Location
			:</label> <input class="form-control" type="text" ng-model="job.location"><br>
		<label class="labelst">Salary :</label> <input class="form-control"
			type="text" ng-model="job.salary"><br> <label class="labelst">Years
			of Experience :</label> <input class="form-control" type="text"
			ng-model="job.yrsofExp"><br>
			<button style="width:20%;margin-left: 40%;height:35px;color:white;"
						class="btn btn-success btn-outline"
		type="submit" class="submitbtn" ng-click="addJob()">Add Job</button>
	</form>
	</div>