<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background"
	id="header2-6" data-rv-view="0"
	style="background-image:url(images/backimg2.jpg);background-repeat: no-repeat;">

<div id="main"
	style="width:100%; margin-left: auto; margin-right: auto;margin-top:80px;">
	<br>
	<br>
	<img src="images/joblogo1.jpg" style="width:20%;height:150px;margin-left:300px;">
	
<br>
<br>
<br>
	<table class="table table-striped" style="width:50%;margin-left:300px;">
  
		<tr>
			<th scope="col">Job Title</th>
			<th scope="col">Skills Required</th>
			<th scope="col">Posted On</th>
		</tr>
		
		<tr ng-repeat="job in jobs">
			<td><a href="" ng-click="getJob(job.id)" style="color:green;">{{job.jobTitle}}</a></td>
			<td>{{job.skillsRequired}}</td>
			<td style="color:red;">{{job.postedOn | date:'medium'}}</td>
		</tr>

	</table>
	</div>
	<div ng-show="showDetails" style="width:50%;margin-left:300px;margin-top:50px;background-color:#EFEBE9;">
	
	<h3 style="margin-top:20px;">Job Details</h3>
	<h1>{{job.companyname}}</h1>
	<br>
	<h3>
	Job Description :</h3> 
	<h4 style="margin-left:50px;"> {{job.jobDescription}}
	</h4>
	<br>
	<h3>Job Title: </h3> <h4 style="margin-left:50px;">{{job.jobTitle}}</h4>
	<br>
	
	<h3>Skills Required :</h3>
	 <h4 style="margin-left:50px;">{{job.skillsRequired}}</h4>
	<br>
	<h3>
	Location :</h3> <h4 style="margin-left:50px;"> {{job.location}}</h4>
	<br>
	<h3>Salary</h3> <h4 style="margin-left:50px;">{{job.salary}}</h4>
	<br><h3>
	Posted On:</h3> <h4 style="margin-left:50px;">{{job.postedOn | date:'medium'}}</h4>
	<br><h3>
	Years of Exp :</h3><h4 style="margin-left:50px;">{{job.yrsofExp}}</h4>
	</div>
	
	</section>
