.form-control{
	width:50%;
	
}
.labelst{
	width:50%;
	float:left;
}
.btn-success {
    color: white !important;
    background-color: green !important;
    border-color: green !important;
}
.element.style {
    width: 25% !important;
    margin-left:10px !important;
}
.btn{
	border-radius:20px !important;
}